<%- include('../partial/head.ejs') %>

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about_us.css">
    <!--//ourPartner-->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
<%- include('../partial/sidebar.ejs') %>
<main>
    <div class="box-outteam">
        <div class="box-content">
            <div class="heading-outteam">
                <h1
                        style="font-size:36px; text-align: center;color: #eeeeee;margin-bottom: 50px;text-transform: uppercase;">
                    Our Team</h1>
            </div>
            <div class="containerOutTeam">
                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="/img/about_us/member4.jpg" alt=""/></div>
                        <div class="contentBx">
                            <h3>Someone Famous<br/><span>Creative Designer</span></h3>
                        </div>
                        <<<<<<< HEAD
                        <div class="containerOutTeam">
                            <div class="card">
                                <div class="content">
                                    <div class="imgBx"><img src="/img/about_us/member4.jpg" alt=""/></div>
                                    <div class="contentBx">
                                        <h3>Someone Famous<br/><span>Creative Designer</span></h3>
                                    </div>
                                </div>
                                <ul class="sci">
                                    <li style="--i:1"><a href="#"><i class="fab fa-facebook-f"
                                                                     aria-hidden="true"></i></a></li>
                                    <li style="--i:2"><a href="#"><i class="fab fa-twitter-square"
                                                                     aria-hidden="true"></i></a></li>
                                    <li style="--i:3"><a href="#"><i class="fab fa-instagram-square"
                                                                     aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <div class="imgBx"><img src="/img/about_us/member1.jpg" alt=""/></div>
                                    <div class="contentBx">
                                        <h3>Someone Famous<br/><span>Creative Designer</span></h3>
                                    </div>
                                </div>
                                <ul class="sci">
                                    <li style="--i:1"><a href="#"><i class="fab fa-facebook-f"
                                                                     aria-hidden="true"></i></a></li>
                                    <li style="--i:2"><a href="#"><i class="fab fa-twitter-square"
                                                                     aria-hidden="true"></i></a></li>
                                    <li style="--i:3"><a href="#"><i class="fab fa-instagram-square"
                                                                     aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <div class="imgBx"><img src="/img/about_us/member2.jpg" alt=""/></div>
                                    <div class="contentBx">
                                        <h3>Someone Famous<br/><span>Creative Designer</span></h3>
                                    </div>
                                </div>
                                <ul class="sci">
                                    <li style="--i:1"><a href="#"><i class="fab fa-facebook-f"
                                                                     aria-hidden="true"></i></a></li>
                                    <li style="--i:2"><a href="#"><i class="fab fa-twitter-square"
                                                                     aria-hidden="true"></i></a></li>
                                    <li style="--i:3"><a href="#"><i class="fab fa-instagram-square"
                                                                     aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <div class="imgBx"><img src="/img/about_us/member3.jpg" alt=""/></div>
                                    <div class="contentBx">
                                        <h3>Someone Famous<br/><span>Creative Designer</span></h3>
                                    </div>
                                </div>
                                <ul class="sci">
                                    <li style="--i:1"><a href="#"><i class="fab fa-facebook-f"
                                                                     aria-hidden="true"></i></a></li>
                                    <li style="--i:2"><a href="#"><i class="fab fa-twitter-square"
                                                                     aria-hidden="true"></i></a></li>
                                    <li style="--i:3"><a href="#"><i class="fab fa-instagram-square"
                                                                     aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            =======
                        </div>
                        <ul class="sci">
                            <li style="--i:1"><a href="#"><i class="fab fa-facebook-f"
                                                             aria-hidden="true"></i></a></li>
                            <li style="--i:2"><a href="#"><i class="fab fa-twitter-square"
                                                             aria-hidden="true"></i></a></li>
                            <li style="--i:3"><a href="#"><i class="fab fa-instagram-square"
                                                             aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="/img/about_us/member1.jpg" alt=""/></div>
                            <div class="contentBx">
                                <h3>Someone Famous<br/><span>Creative Designer</span></h3>
                                >>>>>>> 3a9a88e3601a0c18c0973eae001965ed4cc7da16
                            </div>
                        </div>
                        <ul class="sci">
                            <li style="--i:1"><a href="#"><i class="fab fa-facebook-f"
                                                             aria-hidden="true"></i></a></li>
                            <li style="--i:2"><a href="#"><i class="fab fa-twitter-square"
                                                             aria-hidden="true"></i></a></li>
                            <li style="--i:3"><a href="#"><i class="fab fa-instagram-square"
                                                             aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="/img/about_us/member2.jpg" alt=""/></div>
                            <div class="contentBx">
                                <h3>Someone Famous<br/><span>Creative Designer</span></h3>
                            </div>
                        </div>
                        <ul class="sci">
                            <li style="--i:1"><a href="#"><i class="fab fa-facebook-f"
                                                             aria-hidden="true"></i></a></li>
                            <li style="--i:2"><a href="#"><i class="fab fa-twitter-square"
                                                             aria-hidden="true"></i></a></li>
                            <li style="--i:3"><a href="#"><i class="fab fa-instagram-square"
                                                             aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="/img/about_us/member3.jpg" alt=""/></div>
                            <div class="contentBx">
                                <h3>Someone Famous<br/><span>Creative Designer</span></h3>
                            </div>
                        </div>
                        <ul class="sci">
                            <li style="--i:1"><a href="#"><i class="fab fa-facebook-f"
                                                             aria-hidden="true"></i></a></li>
                            <li style="--i:2"><a href="#"><i class="fab fa-twitter-square"
                                                             aria-hidden="true"></i></a></li>
                            <li style="--i:3"><a href="#"><i class="fab fa-instagram-square"
                                                             aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- team -->
            </div>
            <div class="row justify-content-center">
                <h2 class="h2-only1">"Alone we can do so little, together we can do so much"</h2>
            </div>
            <div class="justify-content-center">
                <h3 class="h3-only1">–Helen Keller-</h3>
            </div>

        </div>
        <!-- box-whoare -->
        <div class="box-whoare">
            <div class="box-team ">
                <div class="box-content">
                    <div class="heading-outteam">
                        <h1
                                style="font-size:36px; text-align: center;color: #eeeeee;margin-bottom: 50px;text-transform: uppercase;">
                            WHO WE ARE</h1>
                    </div>
                </div>
                <div class="row" style="justify-content:center">
                    <div class="card">
                        <div class="imgBox">
                            <img src="/img/about_us/aboutitem.jpg" alt="">
                            <img src="/img/about_us/aboutitem.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h2>Policies</h2>
                                <div>
                                    <ul>
                                        <li>- We hold the copyright of all information on the web</li>
                                        <li>- We are not responsible for activities that develop from our
                                            information
                                        </li>
                                        <li>- We strive to design content to be appropriate for all ages and
                                            audiences
                                        </li>
                                        <li>
                                            <a class="btn-more animate__animated animate__pulse animate__infinite infinite control-title"
                                               href="">
                                                <span class="span">More</span>
                                                <span class="span">More</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <<<<<<< HEAD
                            </div>
                            <div class="row" style="justify-content:center">
                                <div class="card">
                                    <div class="imgBox">
                                        <img src="/img/about_us/aboutitem.jpg" alt="">
                                        <img src="/img/about_us/aboutitem.jpg" alt="">
                                    </div>
                                    <div class="details">
                                        <div class="content">
                                            <h2>Policies</h2>
                                            <div>
                                                <ul>
                                                    <li>- We hold the copyright of all information on the web</li>
                                                    <li>- We are not responsible for activities that develop from our
                                                        information
                                                    </li>
                                                    <li>- We strive to design content to be appropriate for all ages and
                                                        audiences
                                                    </li>
                                                    <li>
                                                        <a class="btn-more animate__animated animate__pulse animate__infinite infinite control-title"
                                                           href="">
                                                            <span class="span">More</span>
                                                            <span class="span">More</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h2>Our network</h2>
                                            <div class="social-icons">
                                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                                <a href=""><i class="fab fa-instagram-square"></i></a>
                                                <a href=""><i class="fab fa-twitter"></i></a>
                                                <a href=""><i class="fab fa-pinterest-p"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    =======
                                    <h2>Our network</h2>
                                    <div class="social-icons">
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-instagram-square"></i></a>
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-pinterest-p"></i></a>
                                        >>>>>>> 3a9a88e3601a0c18c0973eae001965ed4cc7da16
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center intro-text intro-appear">
                <h2 class="title-h2">OUR WORK</h2>
            </div>
            <div class="row border-bottom">
                <div class=" col-lg-4 card-img cardItem">
                    <div class="intro-text intro-appear">
                        <div class="ourWorkItem">
                            <h2 class="title-h21">PROVIDE BASIC KNOWLEDGE &amp; EXPERIENCES</h2>
                        </div>
                        <<<<<<< HEAD
                        <div class="row border-bottom">
                            <div class=" col-sm-4 card-img cardItem">
                                <div class="intro-text intro-appear">
                                    <h2 class="title-h21">PROVIDE BASIC KNOWLEDGE &amp; EXPERIENCES</h2>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum
                                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                        cupiditate non
                                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                                        laborum et
                                        dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                                        libero tempore, cum
                                        soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                        placeat facere
                                        possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
                                        autem quibusdam et
                                        aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                                        repudiandae sint et
                                        molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut
                                        aut reiciendis
                                        voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                                        repellat.</p>
                                </div>
                            </div>
                            <div class=" col-sm-4 card-img cardItem">
                                <div class="intro-text intro-appear">
                                    <h2 class="title-h21">PRESERVING CALLIGRAPHY VALUES</h2>
                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are
                                        so beguiled and
                                        demoralized by the charms of pleasure of the moment, so blinded by desire, that
                                        they cannot
                                        foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                                        those who fail
                                        in their duty through weakness of will, which is the same as saying through
                                        shrinking from toil
                                        and pain. These cases are perfectly simple and easy to distinguish. In a free
                                        hour, when our
                                        power of choice is untrammelled and when nothing prevents our being able to do
                                        what we like
                                        best, every pleasure is to be welcomed and every pain avoided. But in certain
                                        circumstances and
                                        owing to the claims of duty or the obligations of business it will frequently
                                        occur that
                                        pleasures have to be repudiated and annoyances accepted. The wise man therefore
                                        always holds in
                                        these</p>
                                </div>
                            </div>
                            <div class="col-sm-4 card-img cardItem">
                                <div class="intro-text intro-appear">
                                    <h2 class="title-h21">CREATING A COMMUNITY OF CALLIGRAPHY</h2>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was
                                        born and I will give you a complete account of the system, and expound the
                                        actual teachings of
                                        the great explorer of the truth, the master-builder of human happiness. No one
                                        rejects,
                                        dislikes, or avoids pleasure itself, because it is pleasure, but because those
                                        who do not know
                                        how to pursue pleasure rationally encounter consequences that are extremely
                                        painful. Nor again
                                        is there anyone who loves or pursues or desires to obtain pain of itself,
                                        because it is pain,
                                        but because occasionally circumstances occur in which toil and pain can procure
                                        him some great
                                        pleasure. To take a trivial example, which of us ever undertakes laborious
                                        physical exercise,
                                        except to obtain some advantage from it? But who has any right to find fault
                                        with a</p>
                                </div>
                            </div>
                            =======
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum
                                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                cupiditate non
                                provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum
                                et
                                dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                                tempore, cum
                                soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                                facere
                                possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
                                quibusdam et
                                aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
                                sint et
                                molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                                reiciendis
                                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                                repellat.</p>
                        </div>
                    </div>
                    <div class=" col-lg-4 card-img cardItem">
                        <div class="intro-text intro-appear">
                            <div class="ourWorkItem">
                                <h2 class="title-h21">PRESERVING CALLIGRAPHY VALUES</h2>
                                >>>>>>> 3a9a88e3601a0c18c0973eae001965ed4cc7da16
                            </div>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so
                                beguiled and
                                demoralized by the charms of pleasure of the moment, so blinded by desire, that they
                                cannot
                                foresee the pain and trouble that are bound to ensue; and equal blame belongs to those
                                who fail
                                in their duty through weakness of will, which is the same as saying through shrinking
                                from toil
                                and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when
                                our
                                power of choice is untrammelled and when nothing prevents our being able to do what we
                                like
                                best, every pleasure is to be welcomed and every pain avoided. But in certain
                                circumstances and
                                owing to the claims of duty or the obligations of business it will frequently occur that
                                pleasures have to be repudiated and annoyances accepted. The wise man therefore always
                                holds in
                                these</p>
                        </div>
                    </div>
                    <div class="col-lg-4 card-img cardItem">
                        <div class="intro-text intro-appear">
                            <div class="ourWorkItem">
                                <h2 class="title-h21">CREATING A COMMUNITY OF CALLIGRAPHY</h2>
                            </div>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                                pain was
                                born and I will give you a complete account of the system, and expound the actual
                                teachings of
                                the great explorer of the truth, the master-builder of human happiness. No one rejects,
                                dislikes, or avoids pleasure itself, because it is pleasure, but because those who do
                                not know
                                how to pursue pleasure rationally encounter consequences that are extremely painful. Nor
                                again
                                is there anyone who loves or pursues or desires to obtain pain of itself, because it is
                                pain,
                                but because occasionally circumstances occur in which toil and pain can procure him some
                                great
                                pleasure. To take a trivial example, which of us ever undertakes laborious physical
                                exercise,
                                except to obtain some advantage from it? But who has any right to find fault with a</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<section>
    <div class="row justify-content-center intro-text intro-appear">
        <h2 class="title-h2">OUR PARTNER</h2>
    </div>
    <div class="items">
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887660/PROJECT%20KI%201/download_1_n6mh43.png">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887660/PROJECT%20KI%201/Zei-Logo_tbkqbs.jpg">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887660/PROJECT%20KI%201/unnamed_affxa6.jpg">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887660/PROJECT%20KI%201/unnamed_uz6o8l.png">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887659/PROJECT%20KI%201/unnamed_1_vyp4tv.jpg">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887659/PROJECT%20KI%201/pvn_glbyc6.jpg">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887659/PROJECT%20KI%201/download-logo-vector-kimdong-mien-phi_snmpoz.jpg">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo" src="https://img.icons8.com/color/100/000000/hp.png"></div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887659/PROJECT%20KI%201/download_2_vefi37.png">
            </div>
        </div>
        <!---->
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887659/PROJECT%20KI%201/download_ljgey7.jpg">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887325/PROJECT%20KI%201/download_wit3pl.png">
            </div>
        </div>
        <div class="card">
            <div class="card-body"><img class="logo"
                                        src="https://res.cloudinary.com/quynv300192/image/upload/v1619887326/PROJECT%20KI%201/bD-vtcK-_400x400_gps7f0.jpg">
            </div>
        </div>
    </div>
</section>
<%- include('../partial/footer.ejs') %>
<%- include('../partial/js.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<script src="/js/about_us.js"></script>
</body>

</html>