<%-include('../partial/head.ejs')%>
<head>
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <%-include('../partial/sidebar.ejs')%>
    
    <%-include('../partial/footer.ejs')%>
    <%-include('../partial/js.ejs')%>
    <script src="/js/contact.js"></script>
</body>
</html>