*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #434343;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#myBtn:active
{
    background-color:  rgb(43, 43, 43);
}

main {
    background-color: rgba(226,221,222,1);
    padding: 30px 0;
    font-family: 'Montserrat';
}

main a,i,p {
    font-size: 16px;
}

.post-title {
    font-weight: 550;
    font-style: normal;
}

.content-img {
    margin: 25px 0;
    text-align: center;
}

main img {
    height: auto;
    width: 100%;
}

main a {
    text-decoration: none;
    color: rgba(43,43,43,1);
    font-family: 'Montserrat';
}

main a:hover {
    color: #6c757d;
    cursor: pointer;
}

.content p, .categories-tag {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

.content h4 {
    font-family: Montserrat;
    font-weight: 700;
}

.article-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.post-detail {
    padding: 30px;
}

.w3-card-3 {
    background: #e7e5e5;
    border-radius: 15px;
}

.read_more {
    margin-top: 10px;
}

.read_more a {
    background: none;
    color: black;
    width: 140px;
    font-family: Sacramento;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
}

.read_more:hover {
    color: #000;
    background: none;
}

.img-responsive {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}