<<<<<<< HEAD
/*gallery*/
#main {
    position: relative;
    z-index: 200;
    background: #fff;
    transition: transform 0.6s ease;
}
@media (min-width: 640px) {
    #main {
        padding: 1em;
    }
}

.fake-section {
    background: #eee;
    height: 300px;
}
.tiles-a {
    width: 100%;
    position: relative;
    overflow: hidden;


}
.tiles-a ul {
    margin: 0;
    padding: 0;
}
.tiles-a li {
    list-style: none;
}
@media (min-width: 640px) {
    .tiles-a li {
        float: left;
        width: 33.33%;
    }
}
.tiles-a a {
    margin: 1em;
    display: block;
    background: #222;
    padding-top: 73%;
    height: 0;
}
#aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #eee;
    overflow-y: scroll;
    z-index: 1;
}
#aside /img {
    width: 100%;
    height: auto;
    vertical-align: top;
    z-index: 10;
}
#aside .wrapper {
    padding: 1em;
}
#aside .close {
    width: 25px;
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    z-index: 1;
}
.show-detail {
    overflow: hidden;
}
.show-detail #main {
    transform: translateX(-60%);
}
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
/*\gallery*/
=======
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
img
{
    max-width: 100%;
    max-height:100%;
}
h3 {
  color: #fff;
  line-height: 1.4;
  letter-spacing: -0.025em;
  font-size: 25.6px;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  font-size: 26.4px;
}
body {
  min-height: 100vh;
  background:  rgb(43, 43, 43);
}
.container-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  max-width: 100%;
  cursor: pointer;
}
.container-card .card {
  position: relative;
  width: 32%;
  height: 400px;
  margin: 5px;
  overflow: hidden;
}
.container-card .card .imgBx,
.container-card .card .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container-card .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.container-card .card .contentBx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.5s;
}
.container-card .card:hover .contentBx::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay: 0s;
}
.container-card .card .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-card .card .contentBx .content {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-700px);
  transition-delay: 0.5s;
}
.container-card .card:hover .contentBx .content {
  transform: translateX(0px);
  transition-delay: 0.5s;
}
.container-card .card .contentBx .content h3 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container-card .card .contentBx .content p {
  font-size: 1em;
  line-height: 1.4em;
  font-weight: 300;
}
@media screen and (max-width: 1250px) {
  .container-card .card {
    position: relative;
    width: 48%;
    height: 500px;
    margin: 5px;
    overflow: hidden;
  }
}
@media screen and (max-width: 750px) {
  .container-card .card {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 5px;
    overflow: hidden;
  }
}

/* .container-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: rgb(43, 43, 43);
} */

/* Create four equal columns that sits next to each other */
/* .column-category {
  -ms-flex: 33%; 
  flex: 33%;
  max-width: 33%;
  padding: 0 5px;
}

.column-category img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  height: 350px;
  cursor: pointer;
  transition: 1s;
}
.column-category img:hover {
    
} */
/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
  .column-category {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column-category {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
} */
>>>>>>> f323b372048076a8ea74464c2d10d134f0f532b5
