<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row controlfooter">
        <div class="col-md-4 col-lg-4 footer-about wow fadeInUp animated "
          style="visibility: visible; animation-name: fadeInUp">
          <a href=""><h3>About</h3></a>
          <!-- </img class="logo-footer" src="/img/home/are-you1.png" alt="logo-footer" data-at2x=""
            width="150px" height="150px" />
          <p> -->
          <p>
          We are a young company always looking for new and creative ideas to
          help you with our products in your everyday work.
          </p>
          <p style="text-align: center"><a href="#">Our Team</a></p>
        </div>
        <div class="col-md-4 col-lg-4  footer-contact wow fadeInDown animated "
          style="visibility: visible; animation-name: fadeInDown">
         <a href=""><h3>Contact</h3></a>
          <p style="text-align: center">
            <i class="fas fa-map-marker-alt"></i> Số 8A Tôn Thất Thuyết, Mỹ Đình, Nam Từ Liêm, Hà Nội, Vietnam
          </p>
          <p style="text-align: center"><i class="fas fa-phone"></i> Phone: +842473008855</p>
          <p style="text-align: center"> 
            <i class="fas fa-envelope"></i> Email:
            <a href="mailto:hello@domain.com">quickcalligraphy@gmail.com</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 footer-social wow fadeInUp animated "
          style="visibility: visible; animation-name: fadeInUp">
          <h3>Follow us</h3>
          <ul class="list-contact">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row controlfooter animate__animated">

        <div class="col-md-7 footer-menu">
          <nav class="navbar navbar-dark navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#top-content">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#section-1">Category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#section-2">FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#section-3">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#section-4">Help</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>