  <header class="header">
        <div class="container">
            <input type="checkbox" name="" id="check">
            <!-- //logo  -->
            <div class="logo-container animate__animated animate__fadeInBottomLeft animate__delay-1s">
                <a href="/home"><span>Quick Calligraphy</span></a>
            </div>
            <!-- nav-bar -->
            <div class="nav-btn ">
                <div class="nav-links animate__animated animate__bounceInDown animate__delay-1s">
                    <ul>
                        <li class="nav-link" style="--i: .6s">
                            <a href="/home">Home</a>
                        </li>
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">Category<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">By age<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="/article/list?categoryID=609b6bc7fe252e3808a76e09">For Kids</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="/article/list?categoryID=609ca925458f543f20288670">For Beginners</a>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Language<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="/article/list?categoryID=609b81e8056c9e30b4d3d451">Greek</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="/article/list?categoryID=609b81d9056c9e30b4d3d450">Indic</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="/article/list?categoryID=609b6bd9fe252e3808a76e0a">Arabic</a>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="/gallery?page=1">Gallery</a>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="/blog?keyword=&page=1&limit=9">Blog</a>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="/faq">FAQ</a>
                        </li>
                        <li class="nav-link">
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </div>
                <div class="log-sign animate__animated animate__backInRight animate__delay-1s" style="--i: 1.8s">
                    <a href="/login" class="btn transparent" id="btn-logIn">Sign In</a>
                </div>
            </div>
            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>